<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiuyao.boot.mapper.SalesmanMapper">
  <resultMap id="SalesmanMap" type="com.jiuyao.boot.entity.Salesman">
      <id column="salesman_id" jdbcType="INTEGER" property="salesmanId" />
      <result column="salesman_name" jdbcType="VARCHAR" property="salesmanName" />
      <result column="salesman_password" jdbcType="VARCHAR" property="salesmanPassword" />
      <result column="salesman_phone" jdbcType="VARCHAR" property="salesmanPhone" />
      <result column="salesman_id_card" jdbcType="VARCHAR" property="salesmanIdCard" />
      <result column="salesman_extension_id" jdbcType="VARCHAR" property="salesmanExtensionId" />
      <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

    <insert id="register" parameterType="com.jiuyao.boot.entity.Salesman">
        insert into salesman
        (salesman_name,salesman_password,salesman_phone,salesman_id_card,salesman_extension_id,create_time)
        values (#{salesmanName,jdbcType=VARCHAR},#{salesmanPassword,jdbcType=VARCHAR},
        #{salesmanPhone,jdbcType=VARCHAR},#{salesmanIdCard,jdbcType=VARCHAR},#{salesmanExtensionId,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP})
    </insert>

</mapper>