<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiuyao.boot.mapper.SalesmanMapper">
  <resultMap id="SalesmanMap" type="com.jiuyao.boot.entity.Salesman">
      <id column="salesman_id" jdbcType="INTEGER" property="salesmanId" />
      <result column="salesman_name" jdbcType="VARCHAR" property="salesmanName" />
      <result column="name" jdbcType="VARCHAR" property="name" />
      <result column="salesman_password" jdbcType="VARCHAR" property="salesmanPassword" />
      <result column="salesman_id_card" jdbcType="VARCHAR" property="salesmanIdCard" />
      <result column="salesman_extension_id" jdbcType="VARCHAR" property="salesmanExtensionId" />
      <result column="status" jdbcType="VARCHAR" property="status" />
      <result column="type" jdbcType="VARCHAR" property="type" />
      <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

    <insert id="register" parameterType="com.jiuyao.boot.entity.Salesman">
        insert into salesman
        (salesman_name,name,salesman_password,salesman_id_card,salesman_extension_id,status,type,create_time)
        values (#{salesmanName,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{salesmanPassword,jdbcType=VARCHAR},
        #{salesmanIdCard,jdbcType=VARCHAR},#{salesmanExtensionId,jdbcType=VARCHAR},
        #{status,jdbcType=VARCHAR},#{type,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP})
    </insert>

    <select id="getAll" resultMap="SalesmanMap">
        select * from salesman where type = '2'
    </select>

    <select id="getAllByLimt" parameterType="java.util.Map" resultMap="SalesmanMap">
        select * from salesman order by create_time desc limit 0,20
    </select>

    <delete id="deleteByExtensionId" parameterType="java.lang.String">
       DELETE FROM salesman WHERE salesman_extension_id = #{salesmanExtensionId,jdbcType=VARCHAR}
    </delete>

    <select id="getOne" parameterType="java.util.Map" resultMap="SalesmanMap">
        select * from salesman
         where salesman_name = #{salesmanName,jdbcType=VARCHAR} and salesman_password = #{salesmanPassword,jdbcType=VARCHAR}
    </select>

    <select id="getOneBySalesmanExtensionId" parameterType="java.lang.String" resultMap="SalesmanMap">
        select * from salesman where salesman_extension_id = #{salesmanExtensionId,jdbcType=VARCHAR}
    </select>


</mapper>